
/*change the fonts height color and families*/
body {
	font-family: "Trebuchet MS", "Varela Round", "sans-serif";
		line-height: 1.6;
			color: black;
}

/*change paragraph font size and margins*/
p {
	font-size: 2.5em;
		margin-bottom: 2.0em;
}
/*Background color headings*/

.header
{
	background-color: #A27D00;
	
}
	
h1 {
	color:ffffff;
}

}
/*styling Hypertext Links*/
a {
	text-decoration: underlined;
	color: #A27D00;
}

/* unvisited link */
a:link {
    color: #A27D00;
}

/* visited link */
a:visited {
    color: #593a12;
}

/* mouse over link */
a:hover {
    color: #fcea2a;
	transform: scale(1.5, 1.5);
}

/* selected link */
a:active {
}

img {
	max-width: 100%;
}

/*Resize and color (background) Images when hovered */
img:hover { 
    background-color: #A27D00;
	transform: scale(1.5, 1.5);
}

/* wrap the main page navigation in a flexbox*/
.pagenav {
	display: flex;
		flex-wrap: wrap;
}
/*change these headings background color take make them stand out*/
.header {
background-color: #51351c;
}
	
/* wrap the shows into a columned flexbox*/
.showlists,
.shows,
.player  {
	display: flex;
		flex-wrap: wrap;
			flex: 1, 70%;
}


.showlists, {
		flex-direction: column;
			
}
