

body {
	font-family: Trebuchet MS, 'Varela Round', sans-serif;
	line-height: 1.6;
	color: black;
}

p {
	font-size: 2.5em;
	margin-bottom: 2.0em;
}

h2,
h3,
a {
	color: #A27D00;
.header {
	background-color: #A27D00;
	}
	
}

a {
	text-decoration: none;
}

/* unvisited link */
a:link {
    color: ;
}

/* visited link */
a:visited {
    color: ;
}

/* mouse over link */
a:hover {
    color: ;
}

/* selected link */
a:active {
    color: ;
}

img {
	max-width: 100%;
}

img:hover { 
    background-color: #A27D00;
}

.pagenav {
display: flex;
flex-wrap: wrap;
}
